@font-face {
  font-family: 'Futura BdCn BT';
  src: url('futura-condensed-bold.eot'); /* IE9 Compat Modes */
  src: url('futura-condensed-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('futura-condensed-bold.woff') format('woff'), /* Modern Browsers */
       url('futura-condensed-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('futura-condensed-bold.svg#65991f6fa0c1483fbbb39e1cf4a61fde') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

