@font-face {
  font-family: 'futura condensed';
  src: url('futura-condensed.eot'); /* IE9 Compat Modes */
  src: url('futura-condensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('futura-condensed.woff') format('woff'), /* Modern Browsers */
       url('futura-condensed.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('futura-condensed.svg#069e3f71076fdda01cec20c7194fb782') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

