@font-face {
  font-family: 'futura black';
  src: url('../fonts/futura-black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura-black.woff') format('woff'), /* Modern Browsers */
       url('../fonts/futura-black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura-black.svg#a02b93544a5fa7a8ee53179649e6f78a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

