@font-face {
  font-family: 'Futura Md BT';
  src: url('futura-medium-italic.eot'); /* IE9 Compat Modes */
  src: url('futura-medium-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('futura-medium-italic.woff') format('woff'), /* Modern Browsers */
       url('futura-medium-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('futura-medium-italic.svg#e1e9d895ee2e542a5e91a81933e9aff9') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

