@font-face {
  font-family: 'Futura Lt BT';
  src: url('futura-light-italic.eot'); /* IE9 Compat Modes */
  src: url('futura-light-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('futura-light-italic.woff') format('woff'), /* Modern Browsers */
       url('futura-light-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('futura-light-italic.svg#3f47582cc6da03affe175d49b319a264') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

