    <div class="futura">futura</div>
    <div class="futura-medium">futura-medium</div>
    <div class="futura-medium-italic">futura-medium-italic</div>
    <div class="futura-light-italic">futura-light-italic</div>
    <div class="futura-italic">futura-italic</div>
    <div class="futura-extra-bold">futura-extra-bold</div>
    <div class="futura-condensed">futura-condensed</div>
    <div class="futura-condensed-medium">futura-condensed-medium</div>
    <div class="futura-condensed-bold">futura-condensed-bold</div>
    <div class="futura-condensed-bold-italic">futura-condensed-bold-italic</div>
    <div class="futura-bold">futura-bold</div>
    <div class="futura-bold-italic">futura-bold-italic</div>
    <div class="futura-black">futura-black</div>
    <div class="futura-black-italic">futura-black-italic</div>