@font-face {
  font-family: 'futura condensed bold italic';
  src: url('../fonts/futura-condensed-bold-italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura-condensed-bold-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura-condensed-bold-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/futura-condensed-bold-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura-condensed-bold-italic.svg#ecf3b38bd6d7f337e0895458286fa349') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}