@font-face {
  font-family: 'futura bold italic';
  src: url('../fonts/futura-bold-italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura-bold-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura-bold-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/futura-bold-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura-bold-italic.svg#5bcb95f588d4fdab7684cff5dc8be598') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}

