<section id="press" class="body-section">
<div class="pressContainer">



  <div class="pressContainerHeader">press</div>
<ul>

{% for item in craft.entries.section('press') %}
<li>
  <a target="_blank" class="futura-italic" href="{{ item.linkUrl }}">{{ item.title }}</a>
  <br>
  <a target="_blank" class="futura" href="{{ item.linkUrl }}">{{ item.subTitle }}</a>
</li>
{% endfor %}



</ul>
</div>
</section>